#title {
    font-size: 48px;
    font-weight: bold;
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;

}

.controls,
.sizeControls {
    background-color: wheat;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    width: 150px;
}

#clearButton {
    width: 300px;
}


#gridContainer {
    display: grid;
    width: 900px;
    height: 450px;
    margin-top: 5vh;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: white;
    border: solid;
}

#controlsContainer {
    display:flex;
    align-self: stretch;
    height: 35vh;
    padding: 0 5vw;
}

.thumbStickContainer {
    display: flex;
    background-color: red;
}

.thumbStick {
    display: flex;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-top: 5vh;
    border:solid;
}

.rainbow {
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
}

#controlOptions {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5vh;
    gap: 20px;
    align-items: center;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

button {
    width: 100px;
}